@charset "UTF-8";

.scroller {
    width: 100%;
    transform: translate3d(0, 0, 0);
}
.scroller #thruster {
    width: 0;
}
.scroller #histest {
    visibility: hidden;
}

.u-brand-list-pub {
    position: relative;
    width: 100%;
    height: 79px;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
}

.u-brand-list-pub h3 {
    position: absolute;
    margin-bottom: 0;
    margin-right: 0;
    bottom: 0;
    left:0;
    right: 0px;
    height: 30px;
    font-size: 16px;
    padding-left: 15px;
    line-height: 30px;
    color: #000;
    background: #f3f4f5;
}

.u-brand-list-pub .u-brand-img {
    position: absolute;
    left: 12px;
    top: 15px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
}

.u-brand-list-pub .u-img-font {
    overflow: hidden;
    display: box;
    text-align: center;
    padding: 0 5px;
    width: 40px;
    height: 2em;
    position: absolute;
    top: 50%;
    margin-top: -1em;
    white-space: normal;
    word-break: break-all;
}

.u-brand-list-pub .u-brand-img span {
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}
.u-brand-list-pub .u-brand-img img {
    vertical-align: middle;
    text-align:center;
    max-width:100%;
}

.u-brand-list-pub .u-brand-txt {
    padding-left: 70px;
    line-height: 79px;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.u-brand-list-pub .u-brand-font {
    text-align: center;
    position: absolute;
    left: 12px;
    top: 15px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    font-size: 12px;
    border: 1px solid #e7e7e7;
    line-height: 1em;
}
.u-brand-list-pub .u-brand-font .u-img-font {
    overflow: hidden;
    display: box;
    text-align: center;
    padding: 0 5px;
    width: 40px;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    height: 2em;
    position: absolute;
    top: 50%;
    margin-top: -1em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-break: break-all;
}

.dialog .dialog-foot {
    border-top: 1px solid #e7e7e7 !important;
}
.dialog .dialog-foot button {
    color: #000 !important;
    font-size: .32rem;
}
.dialog .dialog-title {
    margin: 0 !important;
    font-size: 0.32rem;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #e7e7e7;
}
.dialog .dialog-body {
    height: auto;
    max-height: 230px;
    overflow: auto;
    margin: 0 !important;
}
.dialog .dialog-body .u-brand-list-sub li:last-child {
    border: 0 !important;
}

.u-brand-list-sub {
    clear: both;
}
.u-brand-list-sub li {
    height: 50px;
    text-align: left;
    line-height: 50px;
    border-bottom: 1px solid #e7e7e7;
}
.u-brand-list-sub li a {
    display: block;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.u-brand-list-sub li:last-child {
    border: 0 !important;
}
